<header class="p-3 bg text-white">
    <div class="container-fluid">
        <div class="d-flex flex-wrap ">
            <span class="fs-4 sidebar-heading text-center">
                <img src="/assets/logo2.png" width="50" height="50" alt="Digital Bank"> Digital Bank
            </span>

            <ng-container *ngIf="!user; else authenticated">
                <a href="/" class="d-flex align-items-center mb-2 mb- mx-auto">
                </a>
                <div class="text-end">

                    <button type="button" class="btn btn-outline-light me-2" routerLink="/login">Login</button>
                    <button type="button" class="btn btn-outline-warning " data-bs-toggle="tooltip" (click)="qliq()"
                    title="You can't sign-up yet !">Sign-up</button>
                </div>
            </ng-container>
            <ng-template #authenticated>
                <a href="/" class="d-flex align-items-center mb-2 mb- mx-auto">
                </a>
                <div class="text-end" >
                    <div class="nav-item ">
                        <a class="nav-link action-button text-white text-decoration-none" href="/" role="button" aria-expanded="false">
                            Home
                        </a>
                    </div>
                </div>
                <div class="text-end" >
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle action-button text-white text-decoration-none" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            Costumers
                        </a>
                        <ul class="dropdown-menu">
                            <li><a
                                routerLink="/customers"
                                routerLinkActive="active"
                                class="nav-link text-white roundd p5"
                              >
                                <i class="bi bi-people"></i>
                                List of customers
                              </a></li>
                            <li><a class="dropdown-item  text-white" href="/customers/new" *ngIf="userRole=='ADMIN'"  > <i class="bi bi-plus-circle"></i>  Add new customer </a></li>
                        </ul>
                    </div>
                </div>


                <div class="text-end" >
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle action-button text-white text-decoration-none" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            Accounts and Operations
                        </a>
                        <ul class="dropdown-menu">
                            <li><a
                                routerLink="/accounts"
                                routerLinkActive="active"
                                class="nav-link text-white roundd p5"
                              >
                                <i class="bi bi-people"></i>
                                List of accounts
                              </a></li>
                            <li><a class="dropdown-item  text-white" href="/operations" *ngIf="userRole=='ADMIN'"  > <i class="bi bi-arrow-left-right"></i>  Account operations </a></li>
                        </ul>
                    </div>
                </div>



                <a href="/" class="d-flex align-items-center mb-2 mb- mx-auto">
                </a>
                <div class="text-end" >
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle action-button text-white text-decoration-none" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            <i class="bi bi-person-fill"></i>
                            {{ user?.username }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" (click)="logout()">
                                <i class="bi bi-box-arrow-left"></i>
                               Log Out
                            </a></li>
                        </ul>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</header>
