body{
    background: linear-gradient(to bottom left, #5C6BC0 0%, #3F51B5 100%);
    background-repeat:no-repeat;
    height:620px;
}
.text-center{
    color:white;
    font-size:60px;
    margin-top:80px;
    font-family:times new roman;
}
.message1 {
    font-size:30px;
    color:white;
    margin-top:70px;
    font-family:times new roman;
    /* margin-left:420px; */
    text-align:center;
}
.message2{
    text-align:center;
    color:white;
    margin-top: 0;
    font-size:30px;
    margin-left:30px;
    font-family:times new roman;
}

.container{

    display: flex;
    align-items: center;
    flex-direction: column;
}
