<div class="card mb-3 cardLogin">
  <div class="card-header">
    <h2 class="h2 py-2 fw-light text-center">Add new customer</h2>
  </div>
  <div class="card-body">
    <form [formGroup]="form" class="col-md-8 col-lg-9 mx-auto" (ngSubmit)="handleCustomerCreate()">
      <div class="mb-3">
        <label for="name" class="form-label">Name :</label>
        <input type="text" formControlName="name" [class.is-valid]="
            form.get('name')!.valid &&
            (form.get('name')!.dirty || form.get('name')!.touched)
          " [class.is-invalid]="
            form.get('name')!.invalid &&
            (form.get('name')!.dirty || form.get('name')!.touched)
          " class="form-control" id="name" />
        <ng-container *ngIf="form.get('name')!.touched">
          <small class="text-warning d-block" *ngIf="form.get('name')!.hasError('required')">
            Cutomer name is required
          </small>
          <small class="text-warning d-block" *ngIf="form.get('name')!.hasError('minlength')">
            Cutomer name should be at least 6 characters long
          </small>
        </ng-container>
      </div>

      <div style="margin-bottom: 20px;">
        <label for="email" class="form-label">Email address :</label>
        <input type="email" formControlName="email" class="form-control" id="email" [class.is-valid]="
            form.get('email')!.valid &&
            (form.get('email')!.dirty || form.get('email')!.touched)
          " [class.is-invalid]="
            form.get('email')!.invalid &&
            (form.get('email')!.dirty || form.get('email')!.touched)
          " class="form-control" id="email" />
        <ng-container *ngIf="form.get('email')!.touched">
          <small class="text-warning d-block" *ngIf="form.get('email')!.hasError('required')">
            Cutomer email is required
          </small>
          <small class="text-warning d-block" *ngIf="form.get('email')!.hasError('email')" >
            Invalid email address
          </small>
        </ng-container>
      </div>
      <div class="card-footer" style="margin-top: 50px; background: transparent; border: none">
        <button type="submit" class="btn btn-outline-light mb-3 mt-12 d-block mx-auto" [disabled]="!form.valid||submitting">
          Create
        </button>
      </div>
    </form>

  </div>
</div>
